<<<<<<< HEAD
body {
    display: flex;
}
#orange {
    flex: 3;
}
#yellow {
    order: -1;
}
#red {
    order: -1;
}
=======
/*file vuoto, ho modificato direttamente il file style.css*/
>>>>>>> c4aff610d8098b0561c644c22cad4a2758ed3391
