@import url(root.css);
body {
    background-color: var(--color-primary);
}

.ball {
    width: var(--section-width);
    height: var(--section-height);
    background-color: var(--color-secondary);
    border-radius: var(--section-border-r);
}
