* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar {
    width: 200px;
    height: 100vh;
    border-right: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar > div > div > .img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.sidebar > .sidebar__top > div > .link {
    display: block;
    color: #2b2b2b;
    margin-bottom: 5px;
}
.sidebar > .sidebar__top > div > .link:hover {
    color: #2b2bb2;
    transition: 0.3s;
}
.sidebar > .sidebar__bottom {
    align-self: center;
}
.sidebar > .sidebar__bottom > .text {
    text-align: center;
}